# Eclipse files
.classpath
.project

# Generated web archive
exonerator.war

# Compiled class files
classes/

# Possibly modified config file
etc/context.xml

# Copied and possibly modified config file
config

