<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1"
   xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
       http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
   metadata-complete="false" >

  <!--

    Notice: By default, we redirect all requests to:
    https://metrics.torproject.org/exonerator.html

    If this is not the desired behavior, simply replace the servlet-class below
    with org.torproject.metrics.exonerator.ExoneraTorServlet and redeploy.

  -->
  <servlet>
    <servlet-name>ExoneraTor</servlet-name>
    <servlet-class>
      org.torproject.metrics.exonerator.ExoneraTorRedirectServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExoneraTor</servlet-name>
    <url-pattern>/index.html</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Default</servlet-name>
    <servlet-class>
      org.eclipse.jetty.servlet.DefaultServlet
    </servlet-class>
    <init-param>
      <param-name>aliases</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>acceptRanges</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>dirAllowed</param-name>
      <param-value>false</param-value>
    </init-param>
    <init-param>
      <param-name>welcomeServlets</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>redirectWelcome</param-name>
      <param-value>false</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>Default</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>Query</servlet-name>
    <servlet-class>
      org.torproject.metrics.exonerator.QueryServlet
    </servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Query</servlet-name>
    <url-pattern>/query.json</url-pattern>
  </servlet-mapping>

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>

  <resource-ref>
    <description>ExoneraTor Database</description>
    <res-ref-name>jdbc/exonerator</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>

</web-app>

